*{
    margin:0;
    padding:0;
    font-family:'Poppins','sans-serif';
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #080808;
    color: #fff;
}
#header{
    width:100%;
    height: 100vh;
    background-image: url(image.jpg);
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 280px;
    height:50px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #5d1a37;
    text-decoration: none;
    font-size: 25px;
    padding: 10px 15px;
    transition: all 0.3s ease;
    display: inline-block;
    transform-origin: center center;
}
nav ul li a:hover{
    transform:scale(1.2);
}
.header-text {
    margin-top: 20%;
    font-size: 30px;
    color:#481212;
    font-style: italic;
}
.header-text p{
    font-style: normal;
    color: #000000;
}
.header-text p span{
    color: #442020d5;
}
/*------------about--------------*/
#about{
    padding:80px 0;
    color: #eebfbf;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
    margin-bottom: 15px;
}
.about-col-2{
    flex-basis: 60%;
}
.subtitle{
    font-size: 40px;
    margin-bottom: 40px;
    margin-top: 20px;
}
.text{
    font-size: 23px;
    color: #fff;
    font-family: 'sans-serif';
}
.tab-titles{
    color: #eebfbf;
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 40px;
    font-size: 22px;
}
.social-links a{
    text-decoration: none;
    color: #fff;
    font-size: 27px;
    display: flex;
    align-items: center;
}
.social-links a:hover{
    text-decoration: underline;
    color: #eebfbf;
}
.social-icon{
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-left: 20px;
}
.lastline{
    margin-top: 20px;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f5dcdc73;
    border-radius: 15px;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index:1;

}
.dropdown-content p{
    color:#3c0f0f;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 16px;
}
.dropdown:hover .dropdown-content{
    display: block;
}
.dropdown-content .email{
    font-family: Arial;
}
.dropdown-content .phone{
    font-family: Arial;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffffb6;
    border-radius: 15px;
    min-width: 300px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Optional: Styling for the links in the dropdown */
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content p{
    text-decoration: none;
    padding: 12px 16px;
    font-size: 17px;
    font-family: Cambria;
    color:#210a0a
}
.tab-links{
    text-decoration: none;
    cursor:pointer;
    font-size: 22px;
    margin: 10px 20px;
}
.tab-links:hover {
    color: #eebfbf;
}
.tab-titles li a {
    text-decoration: none;
    color: #eebfbf;
}
.tab-titles li a:hover {
    color: #eebfbf;
}
